/.web-server-pid
/app
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
/app/
/bin/
/var/
/vendor/
/web/
/.project
/.buildpath
/.web-server-pid
/phpunit.xml.dist
/composer.lock
/.settings/
