<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">

    <title>Matrice</title>

    <style type="text/css">
        
        html {
            height: 100%;
            overflow-x: hidden;
            background: #ececec;
            font: 400 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #444;
            display: block;
        }

        body {
            padding: 0;
            min-height: 100%;
            font: 400 14px/1.42857143 Roboto,sans-serif;
            box-sizing: border-box;
            display: block;
        }

        .error_page_header {
            background: #1565c0;
            padding: 80px 0 20px;
            color: #fff;
            font-size: 48px;
            font-weight: 300;
            margin-bottom: 40px;
        }

        .uk-container-center {
            margin-left: auto;
            margin-right: auto;
            padding: 0 50px;
        }

        .uk-width-8-10 {
            width: 80%;
        }

        [class*="uk-width"] {
            box-sizing: border-box;
            width: 100%;
        }

        * > .uk-text-large {
            margin-top: 16px;
        }

        .uk-text-large {
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 16px;
            line-height: 24px;
        }

        p, dl, multicol {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
        }

        .md-btn-primary, .md-btn-primary:active, .md-btn-primary:focus, .md-btn-primary:hover {
            background: #2196f3;
            color: #fff;

        }

        .md-btn {
            background: #fff;
            border: none;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
            min-height: 31px;
            min-width: 70px;
            padding: 2px 16px;
            text-align: center;
            text-shadow: none;
            text-transform: uppercase;
            -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
            transition: all 280ms cubic-bezier(.4,0,.2,1);
            color: #212121;
            box-sizing: border-box;
            cursor: pointer;
            -webkit-appearance: none;
            display: inline-block;
            vertical-align: middle;
            font: 500 14px/31px Roboto,sans-serif !important;
        }

        a{
            text-decoration: none;
        }

    </style>

</head>

<body class="error_page">

    <div class="error_page_header">
        <div class="uk-width-8-10 uk-container-center">
            MATRICE
        </div>
    </div>
    <div class="error_page_content">
        <div class="uk-width-8-10 uk-container-center">
            <p class="heading_b">{{ user.firstName }} {{ user.lastName }}</p>
            <p class="uk-text-large">
                Il semblerait que vous ayez des soucis pour vous connecter à votre espace d'administration. Il vous suffit juste de cliquer sur le lien suivant:
            </p>
            <p> <a href="{{ url("connect", {'token':user.magicLink.value })}}" class="md-btn md-btn-primary"> Me connecter</a></p>
            <p class="uk-text-large">Ce lien ne sera plus valide après 1 jour à compte de la date de reception de ce mail. Pour obtenir un nouveau lien, rendez-vous sur la page de  <a href="{{ url('login') }}">Connexion</a> et suivez les instructions.</p>
           
        </div>
    </div>

</body>
</html>