{% trans_default_domain 'messages' %}

{% extends 'AdminBundle::layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "charity.title"|trans }}{% endblock %}

{% block breadcrumbmodule %}
	{{ parent() }}
	<i class="material-icons">keyboard_arrow_right</i>
	<span>{{ "charity.title"|trans|capitalize }}</span>
	<i class="material-icons">keyboard_arrow_right</i>
{% endblock %}